html, body, #app {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#app {
}

.condition {
    padding: 10px;
    height: 50px;
    font-size: 14px;
}

#tb_workers {
    width: 100%;
}

.workerdays {
    position: relative;
}

    .workerdays > div {
        float: left;
        margin: 5px;
        border: 1px solid red;
        border-radius: 3px;
        padding: 5px;
        width: 36px;
        cursor: pointer;
    }


